/* Home Page Container */
.home-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom right, #ecfdf5, #dbeafe); /* Light Green → Light Blue */
  color: #111827; /* Dark gray */
  padding: 1.5rem;
  text-align: center;
}

/* Dark Mode */
.dark-mode {
  background: #0c0414; /* Dark background */
  color: white;
}

/* Title */
.home-title {
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
}

.dark-item {
  color: white;
}

/* Subtitle */
.home-subtitle {
  font-size: 1.125rem;
  max-width: 28rem;
  opacity: 0.9;
  margin-bottom: 1.5rem;
}

/* Button Container */
.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

/* Buttons */
.home-button {
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 0.75rem;
  color: white;
  background-color: #2563eb;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  text-decoration: none;
}

/* Dark Mode Buttons */

/* .dark-button:hover {
  background-color: #2563eb; } */

/* Button Hover Effects */
.home-button:hover {
  transform: scale(1.05);
}

.home-button.dictionary:hover,
.home-button.anagram:hover,
.home-button.wordsearch:hover {
  background-color: white;
  color: black;
}

/* Dark Mode Button Hover Effects */
.dark-button.dictionary:hover,
.dark-button.anagram:hover,
.dark-button.wordsearch:hover {
  background-color: white; 
  color: #111827;
}

.dark-button.wordsearch {
  background-color: #4f46e5;
  color: white;
}

.dark-button.dictionary {
  background-color: #4f46e5;
  color: white;
}

.dark-button.anagram {
  background-color: #4f46e5;
  color: white;
}
